<div class="container">
  <h2 class="text-center">{{title}}</h2>

  <div class="row">
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <div class="col mb-2">
            <input #titleBox [(ngModel)]="toDoObj.title" type="text" class="form-control" placeholder="Title"
              name="tite">
          </div>
          <div class="col my-2">
            <input #descBox [(ngModel)]="toDoObj.desc" type="text" class="form-control" placeholder="Description"
              name="desc">
          </div>
          <div class="col my-2">
            <input #startBox [(ngModel)]="toDoObj.start" type="text" class="form-control" placeholder="Start Date"
              name="start">
          </div>
          <div class="col">
            <input #endBox [(ngModel)]="toDoObj.end" type="text" class="form-control" placeholder="End Date" name="end">
          </div>
        </div>
        <div class="text-center"> <button
            (click)="toDoObj.add(titleBox.value, descBox.value, startBox.value, endBox.value)"
            class="btn btn-success mr-3">Add</button>

        </div>

      </form>
    </div>
    <div class="col-md-8">

      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">title</th>
            <th scope="col">desc</th>
            <th scope="col">start</th>
            <th scope="col">end</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of this.toDoObj.toDoList; let id=index">
            <td>{{data.title}}</td>
            <td>{{data.desc}}</td>
            <td>{{data.start}}</td>
            <td>{{data.end}}</td>
            <td>
              <button (click)="toDoObj.delete(id)" class="btn btn-outline-danger mr-2" id="deleteBtn"><i
                  class="fa fa-trash" aria-hidden="true"></i></button>
              <button (click)="toDoObj.update(id)" class="btn btn-outline-primary" id="deleteBtn"><i
                  class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>